<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="title_block">
                <h1>Welcome to our coffee shop</h1>
                <p>Press the button to select coffee</p>
                <a class="my_btn btn_md"  asp-controller="Coffee" asp-action="Index">Choose coffee</a>
            </div>
        </div>
    </div>
</div>